/* LoginPage.css */
.login-container {
  min-height: 100vh;
  background-color: #7b1111;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 800px; /* Adjust width as needed */
}

.login-card {
  background-color: #7b1111;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 400px;
  padding: 24px;
  margin-right: 20px; 
  margin-left: 100px;/* Adds space between login card and the icon */
}

.header .title {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.login-heading {
  font-size: 40px;
  font-weight: 600;
  color: white;
  margin-bottom: 8px;
}

.register-link {
  font-size: 14px;
  color: white;
  margin-bottom: 20px;
  text-align: left;
  margin-top: 30px;
}

.register-link a {
  color: white;
  text-decoration: underline;
}

.form-group {
  margin-bottom: 16px;
  margin-top: 30px;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 20px;
  color: white;
}

.form-input {
  width: 80%;
  padding: 8px;
  border: 1px solid white;
  border-radius: 4px;
}

.login-button {
  width: 50%;
  background-color: white;
  color: #7b1111;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.login-button:hover {
  background-color: white;
}

.icon-container {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}


/* Address Icon Styling */
.address-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.address-icon {
  font-size: 200px; /* Adjust the size of the icon */
  color: white;
}
