.portal-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}



.portal-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive columns */
    gap: 30px;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center; /* Center grid items */
    margin-top: 100px;
    margin-bottom: 30px;
}

.portal-grid .portal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.portal img {
    width: 310px;
    height: 200px;
    object-fit: contain;
    margin-bottom:40px;
    margin-top: 30px;
}

.portal h2 {
    font-size:30px;
    color: #333;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 25px;
}

.portal-btn {
    background-color: #800000; /* Maroon background */
    color: white; /* White text */
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Spacing between content and button */
    font-size: 16px;
    transition: background-color 0.3s;
    width: 210px; /* Fixed button width */
    margin-left: auto;
    margin-right: auto; /* Center button */
    font-weight: bold;
}

.portal-btn:hover {
    background-color: #660000; /* Darker maroon on hover */
}

.portal-grid::after {
    content: "";
    display: block;
    grid-column: span 3; /* Keeps the last row centered */
}